{% extends "walmart/base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-5">Vendor Form: {{ object.ID }}</h1>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="vendorName">Vendor Name in Retail Link</label>
        <input class="col-6 pl-4" type="text" name="venderName" placeholder="No Vendor Name" value="{{ object.vendorName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="vendorNumber">Vendor Number in Retail Link</label>
        <input class="col-6 pl-4" type="text" name="vendorNumber" placeholder="No Vendor Number" value="{{ object.vendorNumber}}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderName">Sender Name</label>
        <input class="col-6 pl-4" type="text" name="senderName" placeholder="No Sender Name" value="{{ object.senderName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderEmail">Sender Email</label>
        <input class="col-6 pl-4" type="email" name="senderEmail" placeholder="No Sender Email" value="{{ object.senderEmail }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderCountry">Sender Country of Origin</label>
        <input class="col-6 pl-4" type="text" name="senderCountry" placeholder="No Sender Country of Origin" value="{{ object.senderCountryOfOrigin }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="walmartBuyerName">Walmart Buyer Name</label>
        <input class="col-6 pl-4" type="text" name="walmartBuyerName" placeholder="No Walmart Buyer Name" value="{{ object.walmartBuyerName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="upcEAN">UPC/EAN for Item Submitted</label>
        <input class="col-6 pl-4" type="text" name="upcEAN" placeholder="No UPC/EAN" value="{{ object.upcEAN }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="itemType">Item Type</label>
        <input class="col-6 pl-4" type="text" name="itemType" placeholder="Select Type" value="{{ object.itemType }}" disabled />
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="departmentNumber">Department Number</label>
        <input class="col-6 pl-4" type="text" name="departmentNumber" placeholder="No Department Number" value="{{ object.departmentNumber }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="inlaySpec">Auburn Spec for Inlay Used</label>
        <input class="col-6 pl-4" type="text" name="inlaySpec" placeholder="Select Spec" value="{{ object.inlaySpec }}" disabled /> 
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="inlayDeveloper">Inlay Developer</label>
        <input class="col-6 pl-4" type="text" name="inlayDeveloper" placeholder="No Company Name" value="{{ object.inlayDeveloper }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="modelName">Model Name</label>
        <input class="col-6 pl-4" text="text" name="modelName" placeholder="No Model Name" value="{{ object.modelName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="privateBrand">Private Brand</label>
        <input class="col-6 pl-4" text="text" name="privateBrand" placeholder="No Private Brand" value="{{ object.privateBrand }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="proprietaryBrand">Proprietary Brand</label>
        <input class="col-6 pl-4" text="text" name="proprietaryBrand" placeholder="No Proprietary Brand" value="{{ object.proprietaryBrand }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="supplierBrand">Supplier Brand</label>
        <input class="col-6 pl-4" text="text" name="supplierBrand" placeholder="No Supplier Brand" value="{{ object.supplierBrand }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="nationalBrand">National Brand</label>
        <input class="col-6 pl-4" text="text" name="nationalBrand" placeholder="No National Brand" value="{{ object.nationalBrand }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="image">Image</label>
        <img class="col-6 pl-4" src="{{ object.images.url }}" alt="Product Image" name="image"/>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="qrcode">QR Code</label>
        <div class="col-6 pl-4">
            <img class="rounded mx-auto d-block" style="width: 200px;" src="{{ object.model_qrcode.url }}" alt="qrcode" name="qrcode"/>
        </div>
    </div>

    <img class="row mt-2 rounded mx-auto d-block" src="{{ object.model_barcode.url }}" alt="Barcode code" name="barcode"/>


    <div class="d-flex flex-row-reverse my-3">
        <a type="button" class="btn btn-danger" href="delete/">Delete</a>
        <a type="button" class="btn btn-warning mr-3" href="update/">Edit</a>
    </div>

</div>
{% endblock content %}