{% extends "walmart/base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-5">Vendor Form</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_vendorName">Vendor Name in Retail Link</label>
            <input type="text" class="form-control" name="vendorName" id="id_vendorName" placeholder="Enter Vendor Name" value="{{ object.vendorName }}">
        </div>
        <div class="form-group">
            <label for="id_vendorNumber">Vendor Number in Retail Link</label>
            <input type="text" class="form-control" name="vendorNumber" id="id_vendorNumber" placeholder="Enter Vendor Number" value="{{ object.vendorNumber }}">
        </div>

        <div class="form-group">
            <label for="id_senderName">Sender Name</label>
            <input type="text" class="form-control" name="senderName" id="id_senderName" placeholder="Enter Sender Name" value="{{ object.senderName }}">
        </div>

        <div class="form-group">
            <label for="id_senderEmail">Sender Email</label>
            <input type="email" class="form-control" name="senderEmail" id="id_senderEmail" placeholder="Enter Sender Email" value="{{ object.senderEmail }}">
        </div>

        <div class="form-group">
            <label for="id_senderCountry">Sender Country of Origin</label>
            <input type="text" class="form-control" name="senderCountryOfOrigin" id="id_senderCountry" placeholder="Enter Sender Country of Origin" value="{{ object.senderCountryOfOrigin }}">
        </div>

        <div class="form-group">
            <label for="id_walmartBuyerName">Walmart Buyer Name</label>
            <input type="text" class="form-control" name="walmartBuyerName" id="id_walmartBuyerName" placeholder="Enter Walmart Buyer Name" value="{{ object.walmartBuyerName }}">
        </div>

        <div class="form-group">
            <label for="id_upcEAN">UPC/EAN for Item Submitted</label>
            <input type="text" class="form-control" name="upcEAN" id="id_upcEAN" placeholder="Enter UPC/EAN" value="{{ object.upcEAN }}">
        </div>

        <div class="form-group">
            <label for="id_itemType">Item Type</label>
            <select class="form-control" name="itemType" id="id_itemType">
                <option value="">Select Type</option>
                <option value="apparel" {% if object.itemType == "apparel" %} selected {% endif %}>Apparel</option>
                <option value="accessories" {% if object.itemType == "accessories" %} selected {% endif %}>Accessories</option>
                <option value="sunglasses" {% if object.itemType == "sunglasses" %} selected {% endif %}>Sunglasses</option>
                <option value="footwear" {% if object.itemType == "footwear" %} selected {% endif %}>Footwear</option>
                <option value="jewelry" {% if object.itemType == "jewelry" %} selected {% endif %}>Jewelry</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_departmentNumber">Department Number</label>
            <input type="text" class="form-control" name="departmentNumber" id="id_departmentNumber" placeholder="Enter Department Number" value="{{ object.departmentNumber }}">
        </div>

        <div class="form-group">
            <label for="id_inlaySpec">Auburn Spec for Inlay Used</label>
            <select class="form-control" name="inlaySpec" id="id_inlaySpec">
                <option value="" {% if object.inlaySpec == "" %} selected {% endif %}>Select Spec</option>
                <option value="w1" {% if object.inlaySpec == "w1" %} selected {% endif %}>W1</option>
                <option value="w2" {% if object.inlaySpec == "w2" %} selected {% endif %}>W2</option>
                <option value="w3" {% if object.inlaySpec == "w3" %} selected {% endif %}>W3</option>
                <option value="w4" {% if object.inlaySpec == "w4" %} selected {% endif %}>W4</option>
                <option value="w5" {% if object.inlaySpec == "w5" %} selected {% endif %}>W5</option>
                <option value="w6" {% if object.inlaySpec == "w6" %} selected {% endif %}>W6</option>
            </select>
        </div>

        <div class="form-row">
            <label for="id_inlayDeveloper">Inlay Developer</label>
            <input type="text" class="form-control" name="inlayDeveloper" id="id_inlayDeveloper" placeholder="Enter Company Name" value="{{ object.inlayDeveloper }}">
            <small name="inlayDeveloperHelp" class="form-text text-muted">Company Name</small>
        </div>

        <div class="form-row">
            <label for="id_modelName">Model Name</label>
            <input text="text" class="form-control" name="modelName" id="id_modelName" placeholder="Enter Model Name" value="{{ object.modelName }}">
            <small name="modelNameHelp" class="form-text text-muted">i.e. Maze MU7</small>
        </div>

        <h2 class="my-5">Brand Type and Brand Name</h2>

        <div class="form-row">
            <label for="id_private">Private</label>
            <input text="text" class="form-control" name="privateBrand" id="id_privateBrand" placeholder="" value="{{ object.privateBrand }}">
        </div>

        <div class="form-row">
            <label for="id_proprietaryBrand">Proprietary</label>
            <input text="text" class="form-control" name="proprietaryBrand" id="id_proprietaryBrand" placeholder="" value="{{ object.proprietaryBrand }}">
        </div>

        <div class="form-row">
            <label for="id_supplierBrand">Supplier</label>
            <input text="text" class="form-control" name="supplierBrand" id="id_supplierBrand" placeholder="" value="{{ object.supplierBrand }}">
        </div>

        <div class="form-row">
            <label for="id_nationalBrand">National</label>
            <input text="text" class="form-control" name="nationalBrand" id="id_nationalBrand" placeholder="" value="{{ object.nationalBrand }}">
        </div>

        <div class="form-row my-3">
            <label for="id_files">Upload Photos of Tag Placement</label>
            <input type="file" name="photoFiles" id="id_files">
        </div>

        <input class="my-3" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
