{% extends "walmart/base.html" %}
{% block title %}View Forms{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-5">View Forms</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="formId" id="formId" placeholder="Enter Form ID">
        </div>
        <input class="btn" type="submit" value="Search">
    </form>

    <h4 class="my-5">Your Forms</h4>
    {% for form in forms %}
        <a class="nav-link" href="{{ form.ID }}">Form {{ form.ID }}</a>
    {% endfor %}
</div>
{% endblock content %}
