{% extends "walmart/base.html" %}
{% block title %}Vendor Form {{ object.ID }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-5">Vendor Form: {{ object.ID }}</h1>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="vendorName">Vendor Name in Retail Link</label>
        <input class="col-6 pl-4" type="text" name="vendorName" placeholder="No Vendor Name" value="{{ object.vendorName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="vendorNumber">Vendor Number in Retail Link</label>
        <input class="col-6 pl-4" type="text" name="vendorNumber" placeholder="No Vendor Number" value="{{ object.vendorNumber}}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderName">Sender Name</label>
        <input class="col-6 pl-4" type="text" name="senderName" placeholder="No Sender Name" value="{{ object.senderName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderEmail">Sender Email</label>
        <input class="col-6 pl-4" type="email" name="senderEmail" placeholder="No Sender Email" value="{{ object.senderEmail }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="senderCountry">Sender Country of Origin</label>
        <input class="col-6 pl-4" type="text" name="senderCountry" placeholder="No Sender Country of Origin" value="{{ object.senderCountryOfOrigin }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="walmartBuyerName">Walmart Buyer Name</label>
        <input class="col-6 pl-4" type="text" name="walmartBuyerName" placeholder="No Walmart Buyer Name" value="{{ object.walmartBuyerName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="upcEAN">UPC/EAN for Item Submitted</label>
        <input class="col-6 pl-4" type="text" name="upcEAN" placeholder="No UPC/EAN" value="{{ object.upcEAN }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="itemType">Item Type</label>
        <input class="col-6 pl-4" type="text" name="itemType" placeholder="Select Type" value="{{ object.itemType }}" disabled />
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="departmentNumber">Department Number</label>
        <input class="col-6 pl-4" type="text" name="departmentNumber" placeholder="Select Department Number" value="{{ object.departmentNumber }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="inlaySpec">Auburn Spec for Inlay Used</label>
        <input class="col-6 pl-4" type="text" name="inlaySpec" placeholder="Select Spec" value="{{ object.inlaySpec }}" disabled />
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="inlayDeveloper">Inlay Developer</label>
        <input class="col-6 pl-4" type="text" name="inlayDeveloper" placeholder="Select Inlay Developer" value="{{ object.inlayDeveloper }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="modelName">Inlay Model Name</label>
        <input class="col-6 pl-4" text="text" name="modelName" placeholder="No Model Name" value="{{ object.modelName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="brandName">Brand Name</label>
        <input class="col-6 pl-4" text="text" name="brandName" placeholder="No Brand Name" value="{{ object.brandName }}" disabled>
    </div>

    <div class="row mt-2">
        <label class="col-6 pl-4" for="brandType">Brand Type</label>
        <input class="col-6 pl-4" text="text" name="brandType" placeholder="No Brand Type" value="{{ object.brandType }}" disabled>
    </div>

    {% if object.images1 %}
    <div class="row mt-2">
        <label class="col-6 pl-4" for="image1">Image of Tags(Front)</label>
        <img class="col-6 pl-4" src="{{ object.images1.url }}" alt="Product Image" name="image1"/>
    </div>
    {% endif %}

    {% if object.images2 %}
    <div class="row mt-2">
        <label class="col-6 pl-4" for="image2">Image of Tags(Back)</label>
        <img class="col-6 pl-4" src="{{ object.images2.url }}" alt="Product Image" name="image2"/>
    </div>
    {% endif %}

    {% if object.images3 %}
    <div class="row mt-2">
        <label class="col-6 pl-4" for="image3">Image of Tag Placement on product</label>
        <img class="col-6 pl-4" src="{{ object.images3.url }}" alt="Product Image" name="image3"/>
    </div>
    {% endif %}

    {% if object.images4 %}
    <div class="row mt-2">
        <label class="col-6 pl-4" for="image4">Image of Tag Placement on product</label>
        <img class="col-6 pl-4" src="{{ object.images4.url }}" alt="Product Image" name="image4"/>
    </div>
    {% endif %}

    {% if object.images5 %}
    <div class="row mt-2">
        <label class="col-6 pl-4" for="image5">Image of other information</label>
        <img class="col-6 pl-4" src="{{ object.images5.url }}" alt="Product Image" name="image5"/>
    </div>
    {% endif %}

    <div class="row mt-2">
        <label class="col-6 pl-4" for="qrcode">QR Code</label>
        <div class="col-6 pl-4">
            <img class="rounded mx-auto d-block" style="width: 200px;" src="{{ object.model_qrcode.url }}" alt="qrcode" name="qrcode"/>
        </div>
    </div>

    <a class="my-2 mx-auto d-block btn btn-warning" href="edit">Edit Form</a>
    <a class="my-2 mx-auto d-block btn btn-info" href="pdf">Generate PDF</a>
</div>
{% endblock content %}