{% extends "walmart/base.html" %}
{% block content %}

<div class="jumbotron text-center">
    <h1 style="top:0">Home</h1>
    <p>Auburn RFID Lab Web Portal</p>
</div>

<div class="container">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              <p>{{ message }}</p>
          </div>
        {% endfor %}
      </ul>
    {% endif %}
</div>

<div class="container">
    <div class="row row align-items-center container">
        <div class="col d-flex justify-content-center">
            <div class="btn-group-vertical">
            <a type="button" class="btn btn-secondary" href="/form/new">New Form</a>
            <a type="button" class="btn btn-secondary" href="/form/view">View Forms</a>
            <a type="button" class="btn btn-secondary" href="admin">Employee Login</a>
            <a type="button" class="btn btn-secondary" href="/contactUs">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}